	<div class="main">

		<div class="welcome-and-triangles">

			<div class="welcome-container">
				<p class="welcome-text">Welcome to <span>DevMountain</span> Social</p>
				<p class="welcome-text">Add Some Info So Friends Can Find You</p>
				<section class="initial-info-input">
					<input placeholder="Full Name" ng-model="userName" /><br />
					<input placeholder="Tagline" ng-model="tagline" /><br />
					<input placeholder="Profile Image URL" ng-model="profileImg" /><br />
					<input placeholder="Bio" class="bio-input" ng-model="bio" /><br />
				</section>
				<a class="save-changes" ui-sref="profile" ng-click="newUserSubmit()">Save Changes</a>
			</div>

			<img src="../images/home-triangles.png" alt="triangle design" class="home-triangles" />

		</div>

	</div>
